/* SUPER ADMIN PROFILE */

.profile-card {
    background: white;
    max-width: 450px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.password-box{
    display: flex;
    position: relative;
}
.password-box span{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #2c7be5;
}

.btn {
    margin-top: 10px;
}
